body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  width: 80%;
  margin: 20px auto;
}

.nota {
  background-color: #ee94f0;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  width: 200px; /* Ancho de las notas */
  height: 200px; /* Altura de las notas */
  display: inline-block;
  margin-right: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

#show-notas {
  margin-top: 20px;
}

.lista-notas {
  background-color: #ffa086;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  width: 150px; /* Ancho de las notas guardadas */
  height: 150px; /* Altura de las notas guardadas */
  display: inline-block;
  margin-right: 10px;
  word-break: break-all;
}
